/* Variables Globales */
.nav{
    font-size: 25px;
}
.navbar{
    background-color:  rgba(255, 255, 225, 0.5);
}

/* */


/* Index */
body{
    background-image: url(../Src/img/background-home.jpg);
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.formhome{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 25%;
}



/* */

/* Clinica */

#containerClinicas {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}

.clinicaCard {
    background: #00BFBA;
    padding: 15px;
    margin-top: 40px;
    border-radius: 40px;
    text-align: center;
    
}

.clinicaCard>a>p>span {
    font-size: 20px;
    display: block;
}
.clinicaCard>a {
    text-decoration: none;
    color: white;
}

/* */

/* Mapa */

.backgroundMap{
    background-image: url("../Src/img/background-map.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}


/* */



/* Noticias */
.imgBackGNews {
    width: 40rem;
    position: relative;
    margin-left: 15rem;
    margin-top: 20rem;
}
.backGNews {
    background-image: url("../Src/img/backnews.png");
    background-size: contain;
    background-repeat: repeat-y;
}

/* */


/* Estadisticas */

/* */
