/* Variables Globales */
.nav{
    font-size: 25px;
}
.navbar{
    background-color:  rgba(255, 255, 225, 0.5);
}

/* */


/* Index */

body{
    background-image: url(../Src/img/background-home.jpg);
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.formhome{
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
}



/* */

/* Clinica */


/* */

/* Mapa */



/* */



/* Noticias */


/* */


/* Estadisticas */

/* */